{% extends "base.html" %}
{% block content %}
{% load static %}
<main id="main">
    <div id="content">
        <div class="left">
            <h1>WIZARDS OF <br> ODDS</h1>
            <p>At Wizard of Odds, we pride ourselves on delivering an unrivaled<br> MLB betting experience. Whether
                you're a seasoned bettor or<br> just starting, our website offers a seamless and enjoyable<br>
                navigation experience, ensuring that you can focus on what<br> truly matters - making winning
                predictions.</p>
            {% if not request.user.is_authenticated %}
            <button class="btn2" id="signup"> <span>Get Started <i class="fas fa-arrow-circle-right"></i></span></button>
            {% endif %}
        </div>
        <div class="right">
            <img src="{% static 'assets/player.png' %}" alt="">
        </div>
    </div>
    </div>
</main>
<div class="popup" id="modal" style="display: none;">
    <div class="center">
        <span class="close-btn" onclick="closeModal()">&times;</span>
        <h1 class="h12">Sign Up</h1>
        <img class="img2" src="{% static 'assets/profile.png' %}" alt="Profile">

        <form class="input-container" method="post" action="">
            {% csrf_token %}
            <input type="hidden" name="signup_login" value="signup">
            <input type="email" placeholder="Email" name="email">
            <input type="text" placeholder="username" name="username">
            <input type="password" placeholder="Password" name="password">
            <input type="password" placeholder="Confirm Password" name="confirm_password">

            <button class="continue-btn" type="submit">Continue</button>
            <div class="already-user">
                <span class="alruser">Already a user?&nbsp;</span>
            <span class="alrusergreen">Login</span>
            </div>
    

        </form>
    </div>
</div>
<div class="popup" id="modal2" style="display: none;">
    <div class="center">
        <span class="close-btn" onclick="closeModal2()">&times;</span>
        <h1 class="h12">Sign In</h1>
        <img class="img2" src="{% static 'assets/profile.png' %}" alt="Profile">

        <form class="input-container" method="post" action="">
            {% csrf_token %}
            <input type="hidden" name="signup_login" value="login">
            <input type="text" placeholder="Email" name="email">
            <input type="password" placeholder="Password" name="password">

            <button class="continue-btn" type="submit">Continue</button>

            <div class="already-user2">
                <span class="alruser2">Create an&nbsp;</span>
                <span class="alrusergreen2">account</span>
            </div>
        </form>
    </div>
</div>

<script src="{% static 'js/main.js' %}"></script>
{% endblock %}